#ifndef CONFIG_H
#define CONFIG_H

// WiFi
#define SSID_NAME "wifi_name"
#define SSID_PASSWORD "wifi_password"

// OCTranspoAPI
#define OCTRANSPO_API_MAX_ARRIVAL_TIME_MINUTES 60
#define OCTRANSPO_API_MIN_ARRIVAL_TIME_MINUTES 2
#define OCTRANSPO_API_MINUTES_TO_SUBTRACT_FROM_ARRIVAL_TIME 1
#define OCTRANSPO_API_88_HURDMAN_LONGITUDE_THRESHOLD_BUS_FAR_ENOUGH_AWAY -75.7654
#define OCTRANSPO_API_NEXT_TRIPS_FOR_STOP_ENDPOINT "https://api.octranspo1.com/v2.0/GetNextTripsForStop?appID=<your_app_id>&apiKey=<your_api_key>"
// For more info, see: https://www.octranspo.com/en/plan-your-trip/travel-tools/developers/dev-doc#method-GetNextTripsForStop

// Weather
#define OPEN_METEO_API_AIR_QUALITY "https://air-quality-api.open-meteo.com/v1/air-quality?latitude=45.354305&longitude=-75.73605&timezone=America%2FNew_York&current=european_aqi,us_aqi,uv_index&forecast_days=1"
#define OPEN_METEO_API_ENDPOINT_TRIES 2

#define ACCUWEATHER_API_CURRENT "https://dataservice.accuweather.com/currentconditions/v1/<your_location>?apikey=<your_api_key>&details=true"
#define ACCUWEATHER_API_12H_FORECAST "https://dataservice.accuweather.com/forecasts/v1/hourly/12hour/<your_location>?apikey=<your_api_key>&details=true&metric=true"
#define ACCUWEATHER_API_ENDPOINT_TRIES 2

#define ROUTES_STALE_TRESHOLD_MILLIS 240000

// NTP
#define NTP_SERVER "pool.ntp.org"
#define NTP_GMT_OFFSET_SEC -18000
#define NTP_DAYLIGHT_OFFSET_SEC 3600

// Interval/Lifetime control
#define INTERVAL_PAGE_LIFETIME 60000
#define INTERVAL_PAGE_LOADING_RETRY 10000
#define LOADING_RECHECK_ATTEMPTS 6
#define INTERVAL_UPDATE_LIGHT_SENSOR 125
#define INTERVAL_UPDATE_PAGE_BAR 500
#define INTERVAL_UPDATE_CLOCK 10000

#define OCTRANSPO_DELAY_BETWEEN_FETCHES_MS 8000

// AppState
#define APPSTATE_WAKING_UP_HOUR_START 5
#define APPSTATE_WAKING_UP_MINUTE_START 50
#define APPSTATE_COMMUTE_HOUR_START 6
#define APPSTATE_NORMAL_HOUR_START 7
#define APPSTATE_SLEEPING_HOUR_START 21
// Deep sleeping starts <APPSTATE_SLEEPING_HOUR_START+1> until <APPSTATE_WAKING_UP_*_START>

// UI
#define PAGE_TOP_HEADER_SIZE_PX 15
#define PAGE_HORIZONTAL_MARGIN_PX 2
#define PAGE_CLOCK_X_POSITION 125
#define PAGE_CLOCK_Y_POSITION 9

// UI - INITIALIZATION PAGE
#define INITIALIZATION_PAGE_TITLE_POSITION_X 64
#define INITIALIZATION_PAGE_TITLE_POSITION_Y 30
#define INITIALIZATION_PAGE_BAR_Y_POSITION_PX 38
#define INITIALIZATION_PAGE_BAR_Y_POSITION_PX 38
#define INITIALIZATION_PAGE_BAR_THICKNESS_PX 4
#define INITIALIZATION_PAGE_BAR_CORNER_RADIUS_PX 5

// UI - COMMUTE PAGE
#define TRIPS_PAGE_COMMUTE_MAX_TRIPS 3
#define TRIPS_PAGE_COMMUTE_BETWEEN_TRIPS_SPACING_PX 20
#define TRIPS_PAGE_COMMUTE_HR_HEIGHT 27
#define TRIPS_PAGE_COMMUTE_VR_LENGTH 32

#define COMMUTE_PAGE_TITLE "Commute"
#define COMMUTE_PAGE_TIME_LEFT_SPACING_X 5
#define COMMUTE_PAGE_TIME_Y 35
#define COMMUTE_PAGE_ICON_LEFT_SPACING_X 48
#define COMMUTE_PAGE_ICON_Y 31
#define COMMUTE_PAGE_APPARENT_TEMP_Y 60

#define COMMUTE_PAGE_EXTRA_FIRST_Y 44
#define COMMUTE_PAGE_EXTRA_SECOND_Y 52
#define COMMUTE_PAGE_EXTRA_THIRD_Y 60
 
// UI - TRIPS PAGE
#define TRIPS_PAGE_MAX_ROUTES 4
#define TRIPS_PAGE_MAX_TRIPS 2
#define TRIPS_PAGE_VERTICAL_SPACING_BETWEEN_BUSES_PX 12
#define TRIPS_PAGE_BUS_SIGN_WIDTH_PX 22
#define TRIPS_PAGE_BUS_SIGN_AND_BUS_LABEL_MARGIN_PX 4

#define TRIPS_PAGE_BUS_MINUTE_SYMBOL_AND_ARRIVAL_TIME_MARGIN_PX 1
#define TRIPS_PAGE_BUS_ARRIVAL_TIME_AND_TRACKING_INDICATOR_MARGIN_PX 2
#define TRIPS_PAGE_BUS_BETWEEN_TRIPS_SPACING_PX 22

#define TRIPS_PAGE_TRACKING_INDICATOR_ANIMATION_STEP_MS 25
#define TRIPS_PAGE_TRACKING_INDICATOR_ANIMATION_TIME_BETWEEN_PHASE_MS 50
#define TRIPS_PAGE_TRACKING_INDICATOR_ANIMATION_TIME_AFTER_ANIMATION_FULL_MS 800
#define TRIPS_PAGE_TRACKING_INDICATOR_ANIMATION_TIME_IDLE_MS 2000

#define TRIPS_PAGE_ICON_X_POSITION 3
#define TRIPS_PAGE_ICON_Y_POSITION 1

#define TRIPS_PAGE_TITLE_X_POSITION 15
#define TRIPS_PAGE_TITLE_Y_POSITION 9

// UI - WEATHER PAGE
#define WEATHER_PAGE_TITLE_X_POSITION 3
#define WEATHER_PAGE_TITLE_Y_POSITION 9

#define WEATHER_PAGE_VERTICAL_BAR_HEIGHT_MAX 15

#define WEATHER_PAGE_TIME_POS_Y 20
#define WEATHER_PAGE_WEATHER_ICON_POS_Y 24
#define WEATHER_PAGE_EXTRA_WEATHER_DATA_FIRST_Y 51
#define WEATHER_PAGE_EXTRA_WEATHER_DATA_SECOND_Y 60



// Hardware
#define R1_PIN 25
#define G1_PIN 26
#define B1_PIN 27
#define R2_PIN 14
#define G2_PIN 12
#define B2_PIN 13
#define A_PIN 23
#define B_PIN 19
#define C_PIN 5
#define D_PIN 17
#define E_PIN 18 // required for 1/32 scan panels, like 64x64. Any available pin would do, i.e. IO32
#define LAT_PIN 4
#define OE_PIN 15
#define CLK_PIN 16
#define PANEL_RES_X 128 // Number of pixels wide of each INDIVIDUAL panel module.
#define PANEL_RES_Y 64  // Number of pixels tall of each INDIVIDUAL panel module.
#define PANEL_CHAIN 1   // Total number of panels chained one to another

#define LIGHT_SENSOR_SAMPLES 10
#define LIGHT_SENSOR_VALUE_MIN 300
#define LIGHT_SENSOR_VALUE_MAX 2000

#define DISPLAY_BRIGHTNESS_MIN 10
#define DISPLAY_BRIGHTNESS_MAX 50
#define DISPLAY_HYSTERESIS_BRIGHTNESS_STEPS 5       // MUST be > than 3
#define DISPLAY_BRIGHTNESS_STEP_SIZE (DISPLAY_BRIGHTNESS_MAX - DISPLAY_BRIGHTNESS_MIN) / DISPLAY_HYSTERESIS_BRIGHTNESS_STEPS
#define DISPLAY_HYSTERESIS_GAP_SIZE 100

#define CAPACITIVE_BUTTON 33
#define BUTTON_LONG_TAP_DURATION_MS 300

// Memory management - Change these if you know what you're doing
// This stack depth is specified in words, i believe 1 word = 4 bytes on the ESP32
// use Util.printHighWaterMarkForTask() to troubleshoot
#define STACK_DEPTH_DATA_FETCHER_TASK 8000            // Remaining stack ~2k words
#define STACK_DEPTH_TRACKING_BUS_INDICATORS_TASK 1100 // Remaining stack ~500 words
#define STACK_DEPTH_EXTRA_WEATHER_DATA_TASK 1500      // Remaining stack ~500 words
#define STACK_DEPTH_BRIGHTNESS_TASK 700               // Remaining stack ~200 words
#define STACK_DEPTH_SLEEPING_ANIMATION_TASK 800       // Remaining stack ~200 words
#define STACK_DEPTH_BUTTON_LONG_TAP_TASK 500

#define TASK_PRIORITY_REALTIME          1
#define TASK_PRIORITY_HIGH              2
#define TASK_PRIORITY_NETWORK           3

// Prefer using Core 1 for everything.
// WiFi runs on Core 0. If you are using Core0, run low-priority tasks.
#define CORE_ID_1   1
#define CORE_ID_0   0


// Colors
#define COLOR_TEXT_PRIMARY_R 191
#define COLOR_TEXT_PRIMARY_G 178
#define COLOR_TEXT_PRIMARY_B 155

#define COLOR_TEXT_SECONDARY_R 36
#define COLOR_TEXT_SECONDARY_G 33
#define COLOR_TEXT_SECONDARY_B 27

#define COLOR_TEXT_ROUTE_R 255
#define COLOR_TEXT_ROUTE_G 255
#define COLOR_TEXT_ROUTE_B 255

#define COLOR_ROUTE_FREQUENT_R 31
#define COLOR_ROUTE_FREQUENT_G 64
#define COLOR_ROUTE_FREQUENT_B 110

#define COLOR_ROUTE_LOCAL_R 60
#define COLOR_ROUTE_LOCAL_G 60
#define COLOR_ROUTE_LOCAL_B 60

#define COLOR_RED_R 184
#define COLOR_RED_G 33
#define COLOR_RED_B 33

#define COLOR_GREEN_R 67
#define COLOR_GREEN_G 224
#define COLOR_GREEN_B 56

#define COLOR_OC_TRANSPO_LOGO_R 184
#define COLOR_OC_TRANSPO_LOGO_G 33
#define COLOR_OC_TRANSPO_LOGO_B 33

#endif